/* BODY */
body{
    font-family:            "Open Sans", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    min-width:              600px;
    background-color:       #F7941E;
}

/* SHELL */
#main-content{
  padding:          10px;
  background-color: #1C75BC;
  overflow:         auto;
  max-height:       570px;
}

/* LOADING */
#loadingDiv{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  position:   fixed;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  z-index:    999999;
  display:    block;
}

#loadingBar{
  position:         absolute;
  left:             50%;
  top:              100px;
  width:            115px;
  margin-left:      -83px;
  color:            #FFFFFF;
  padding:          4px 10px 4px 10px;
  border-radius:    10px 10px 10px 10px;
  margin-top:       0;
  font-weight:      bold;
  background-color: #111111;
  font-size:        10px;
  text-shadow:      0 1px 0 #252525;
  text-align:       center;
  border-bottom:    1px solid #252525;
}

/* CORE */
.hide{
  display: none !important;
}

.deny-margin-top{
  margin-top: 0px !important;
}

.deny-margin-bottom{
  margin-bottom: 0px !important;
}

.deny-margin-left{
  margin-left: 0px !important;
}

.deny-margin-right{
  margin-right: 0px !important;
}

/* HEADER */
#main-header{
  height:     32px;
  position:   relative;
  margin-top: 10px;
}

#main-header-logo{
  display: inline-block;
  height: 32px;
}

#main-header-text{
  display:  inline-block;
  height:   32px;
  position: absolute;
  top:      6px;
  left:     62px;
  color:    #FFF;
}

#main-header-text h2{
  margin-top:    0px !important;
  margin-bottom: 0px !important;
}

#main-header-options{
  float:      right;
  list-style: none;
  margin-top: 0px !important;
}


#main-header-options-link{
  text-decoration: none;
  color:           #FFF;
  cursor:          pointer;
  font-style:      italic;
}

/* POPUP */
.fields-wrapper{
  border:           none;
  background-color: #A7D8E8;
  display:          flex;
  border-radius:    3px;
  margin-top:       10px;
}

.field{
  width:  50%;
  margin: 10px;
}

.field label{
  display:     block;
  font-size:   1em;
  font-weight: bold;
  padding:     0 0 5px;
  text-align:  center;
}

.field input{
  width:         100%;
  padding:       5px;
  border-radius: 3px;
  box-sizing:    border-box;
  border:        1px solid #ddd;
}

.action-button-wrapper{
  margin-top: 10px;
}

button{
  -webkit-appearance: none;
  background-color:   #F16022;
  border-radius:      3px;
  font-family:        "Open Sans",Arial,sans-serif;
  border:             1px solid transparent;
  margin:             0;
  padding:            7px 10px;
  position:           relative;
  text-align:         center;
  text-decoration:    none;
  -moz-transition:    all .1s;
  -o-transition:      all .1s;
  -webkit-transition: all .1s;
  transition:         all .1s;
  font-size:          11px;
  color:              white;
  margin-top:         5px;
  font-weight:        600;
  width:              100%;
  cursor:             pointer;
  display:            inline-block;
  text-transform:     uppercase;
}

button:hover{
  -webkit-appearance: none;
  background-color:   #bf4c1b;
  color:              white;
}

button:disabled{
  opacity: 0.5;
}

.table-toggl-wrapper{
  margin-top: 10px;
}

.feedback-wrapper{
  margin-top: 10px;
}

table{
  width:          100%;
  border-spacing: 4px;
  color:          #FFF;
}

thead{
  background: #1267ab;
}

tr{
  height: 22px;
}

td{
  padding:    2px 0px;
  text-align: center;
}

td:nth-of-type(3){
  text-align: left;
}

td > a{
  color:            white;
  background-color: #F16022;
  border-radius:    3px;
  white-space:      nowrap;
  text-decoration:  none;
  padding:          1px 2px;
  font-weight:      bold;
}

td.success{
  color:            white;
  background-color: #019c3f;
  border-radius:    3px;
  white-space:      nowrap;
  text-decoration:  none;
  padding:          1px 2px;
  font-style:       italic;
  text-align:       center;
}

td.danger{
  color:            white;
  background-color: #ef1717;
  border-radius:    3px;
  white-space:      nowrap;
  text-decoration:  none;
  padding:          1px 2px;
  font-style:       italic;
  font-weight:      bold;
  text-align:       center;
}

td.warning{
  color:            white;
  background-color: #F7941E;
  border-radius:    3px;
  white-space:      nowrap;
  text-decoration:  none;
  padding:          1px 2px;
  font-weight:      bold;
  text-align:       center;
}

p.error{
  color:           white;
  background:      #cc3329;
  border-radius:   3px;
  white-space:     nowrap;
  text-decoration: none;
  padding:         10px;
}

/* OPTIONS */
.field-full{
  width: 100% !important;
}

.field-options label{
  display: block;
  margin:  10px;
}

.line{
  margin-top: 10px;
}

#status{
  display:       none;
  border-radius: 3px;
  color:         white;
  background:    #019c3f;
  margin:        5px 0;
  padding:       7px 10px;
  text-align:    center;
}

.field label.options{
  text-align: left;
}